@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i);
@import url(la-ball-spin.css);
body {
    background: transparent;
    display: block;
    overflow: hidden;
    padding: 0;
}
body.pace-done .iframe-container, body.pace-running .iframe-container {
    background: rgba(0, 0, 0, .6) none repeat scroll 0 0 !important;
}
body.small-popup .iframe-container {
    padding: 10px 3%;
}
body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
a {
    cursor: pointer;
}
a:focus {
    outline: medium none;
    outline-offset: 0;
}
a:focus, a:hover {
    text-decoration: none;
}
ol, ul {
    list-style: outside none none;
    padding: 0;
}
p {
    color: #2B2B2B;
    font-size: 13px;
    margin: 3px 0 7px;
}
audio, canvas, progress, video {
    pointer-events: auto;
}
div.result {
    color: #FFF;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}
.items-list img {
    width: 100%;
    height: auto;
    max-height: 60px;
}

.pdc-item-tool .pdc-color-list {
    padding: 5px;
    width: 100%;
}
.pdc-item-tool .pdc-color-list li {
    float: left;
}
.pdc-item-tool .pdc-color-list li.active a {
    border-color: #FFF;
}
.pdc-item-tool .pdc-color-list li a {
    border: 1px solid #666;
    box-sizing: padding-box;
    float: left;
    height: 15px;
    margin: 2px;
    padding: 0;
    width: 25px;
}

.pdc-btn {
    background: #3FBCEF none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #000;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 auto 10px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}
.pdc-btn-green {
    background-color: #ABD46E!important;
}
.pdc-btn-red {
    background-color: #EA6B48!important;
}
.pdc-btn-blue {
    background-color: #1863FB!important;
}
.pdc-btn-orange {
    background-color: #EF9C00!important;
}
.pdc-btn-gray {
    background-color: #8EA0A3!important;
}
.pdc-btn:hover {
    opacity: .8;
    color: #FFF;
}
.a-link-green {
    color: #ABD46E;
}
#pdcwrapper {
    margin: 0 auto;
}
.pdc-wrapper {
    display: block;
    z-index: 999;
}
.pdc-colors .custom_color {
    display: none;
}
.pdc-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.pdc-center {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}
.pdc_design_panel {
    background: #FFF none repeat scroll 0 0;
    display: block;
    width: 100%;
}

.show-full-screen {
    border: 1px solid #CCC;
    color: #141823;
    cursor: pointer;
    font-size: 18px;
    margin-right: 5px;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
}
h3.item-title {
    color: #141823;
    float: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 35px;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: capitalize;
}
.topbar-buttons {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.topbar-buttons .tool-btn.saveBtn {
    background: #FFEB3B none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 1px 1px 2px -2px #000;
    color: #000;
    font-size: 10pt;
    letter-spacing: 0;
    padding: 3px 15px;
    text-transform: uppercase;
}
.pdc-topbar {
    background: #F6F7F8 none repeat scroll 0 0;
    border-bottom: 1px solid #DDD;
    color: #141823;
    display: block;
    float: left;
    margin: 0;
    padding: 0 5px;
    width: 100%;
}

.topbar-buttons li {
    display: block;
    float: left;
    line-height: 0;
    margin: 5px;
    padding: 0;
    position: relative;
}
.topbar-buttons li.open > .dropdown-menu {
    left: auto;
    margin: 0;
    padding: 8px 0;
    right: 0;
    min-width: 120px;
}
.topbar-buttons li.open > .dropdown-menu > li a {
    padding: 5px 10px;
    font-size: 12px;
}
.topbar-buttons li.open > .dropdown-menu > li a:focus, .topbar-buttons li.open > .dropdown-menu > li a:hover {
    background: #44B4AA;
    color: #FFF;
}
.topbar-buttons li.open > .dropdown-menu > li {
    margin: 0;
    padding: 0;
    width: 100%;
}
.topbar-buttons li .tool-btn {
    border-radius: 3px;
    color: #44B4AA;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 20px;
    padding: 5px 10px;
    text-transform: capitalize;
}
.topbar-buttons li .tool-btn i {
    font-size: 12pt;
    font-weight: lighter;
    margin: 0 2px 0 0;
    vertical-align: middle;
}
.topbar-buttons li .tool-btn span {
    vertical-align: middle;
}
.topbar-buttons li .tool-btn:hover, .topbar-buttons li .continue-shopping {
    background: #44B4AA none repeat scroll 0 0;
    border-radius: 0;
    color: #FFF;
}
.topbar-buttons li:last-child a {
    color: #000;
}

.pdc-popup > h3.title {
    font-size: 14px;
    margin: 0 0 15px;
    padding: 0 15px;
    text-transform: uppercase;
    color: #000;
}
.pdc-popup .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-gr-login {
    float: right;
}
.form-gr-btm {
    border-top: 1px solid #DDD;
    padding: 10px 0 0;
}
.form-gr-btm a {
    margin-bottom: 5px;
}
.form-gr-btm p {
    line-height: 26px;
}
.fancybox-wrap {
    width: 40%!important;
}
.fancybox-inner {
    width: 100%!important;
    padding: 5px;
}
#pdc-reset-cont ul li {
    display: inline-block;
}
.pdc-popup ul.saving {
    display: block;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 0 10px;
}
#pdc-save-cont li.complete {
    float: left;
}
#pdc-save-cont li.complete .pdc-btn {
    text-align: right;
    border-radius: 0;
}
#pdc-save-cont li.loading {
    float: left;
}
#pdc-save-cont li.loading .pdc-btn {
    text-align: left;
    border-radius: 0;
}

.pdc-popup .share-info {
    border: 1px solid #CDCDCD;
    display: block;
    margin: 0 auto 15px;
    max-width: 94%;
    overflow: hidden;
    padding: 10px;
}
.share-info .img-left {
    padding-left: 0;
}

.share-info .cont-right {
    padding-right: 0;
}
.share-info .cont-right .title {
    color: #000;
    font-size: 18px;
}
.share-info .cont-right .link {
    color: #646464;
    display: block;
    margin: 5px 0;
}
.share-info .cont-right .des {
    color: #000;
    display: block;
    margin: 10px 0 0;
    overflow: hidden;
}
.share-btn-list li {
    list-style: outside none none;
    margin: 0 0 10px;
}
.share-btn-list li a {
    height: 30px;
    line-height: 30px;
    width: 100% !important;
}
.share-btn-list li a span {
    display: none!important;
    background: none!important;
}

.share-buttons div {
    margin: 0 auto;
    text-align: center;
}
.share-buttons div a {
    display: inline-block;
    float: none!important;
}
/*--  End Topbar --*/
.pdc-wrap-main {
    display: inline-block;
    height: 95%;
    position: relative;
    width: 100%;
}
/*-- Area Left  --*/
.pdc-area-left {
    background: #FEFEFE none repeat scroll 0 0;
    border-right: 1px solid #E9EAED;
    display: inline;
    float: left;
    height: 100%;
    position: relative;
    width: 390px;
    overflow: auto;
    padding-bottom: 15px;
}

.pdc-area-left .pdc-tabs > ul.nav {
    background: #F6F7F8 none repeat scroll 0 0;
    border-top: 0 solid #F6F7F8;
    float: left;
    height: 100%;
    padding-bottom: 15px;
    position: relative;
    width: 25%;
    z-index: 10;
    min-width: 80px;
}
.pdc-area-left ul {
    border: medium none;
    padding: 0;
    margin: 0;
}
.pdc-area-left ul li {
    margin: 0;
}
.tabs-left {
    padding-top: 20px;
    border: none;
}
.tabs-left li {
    width: 100%;
}
.pdc-area-left .pdc-background-color-list li {
    float: left;
    width: auto;
}
.pdc-area-left .pdc-tabs > ul.nav li a {
    border-color: rgba(255, 255, 255, .2) -moz-use-text-color -moz-use-text-color;
    border-radius: 0;
    border-style: solid none none;
    border-width: 0 medium medium 0;
    color: #4E5665;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .025em;
    padding: 15px 2px;
    text-transform: capitalize;
    /* transition: all 0.15s linear 0s, opacity 0s linear 0s; */
    word-wrap: break-word;
}
.pdc-area-left .pdc-tabs > ul.nav li a i {
    clear: both;
    font-size: 25px;
    padding-bottom: 2px;
    width: 100%;
}
.pdc-tabs {
    position: relative;
}
.pdc-area-left .pdc-tabs ul.tabs-left li.active > a::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) #FFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 10px 8px 10px 10px;
    bottom: 0;
    content: '';
    height: 10px;
    position: absolute;
    right: 0;
    top: 25px;
}

/* Active Status */
.pdc-area-left ul.nav li a img {
    max-width: 100%;
}
.pdc-area-left .pdc-tabs > .tab-content {
    display: block;
    float: left;
    left: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.pdc-area-left .pdc-tabs .toggle-cont {
    left: 60px;
    right: auto;
}

.pdc-area-left .pdc-tabs .accordion-pane {
    color: #000;
    overflow: hidden;
    width: 100%;
    display: none;
    padding: 10px 40px 40px 50px;
    box-shadow: inset 0 -9px 22px rgba(0,0,0,.05);
}
.pdc-area-left .pdc-tabs > .accordion-pane > h3 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px dashed rgba(0, 0, 0, .3);
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 45px;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    z-index: 1;
    text-transform: uppercase;
}
.pdc-area-left .tab-content .accordion-pane > ul > li {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    /* transition: all 0.2s linear 0s; */
    z-index: 1;
}
.pdc-area-left .tab-content .accordion-pane > ul > li.active {
    margin-bottom: 45px;
}
.pdc-area-left .pdc-tabs .accordion-pane .gallery-items li {
    pointer-events: none;
}

.tab-content .tab-pane {
    padding-top: 15px;
    height: 0;
    opacity: 0;
}
.tab-content .tab-pane.active {
    opacity: 1;
    height: auto;
}

#upload .pdc-show-content > p:first-child {
    font-weight: 600;
    margin: 25px 0 30px;
}

.pdc-area-left ul.nav-tabs > li {
    float: left;
    margin: 0 0 3px 1px;
    padding: 0 20px 0 0;
    width: auto;
}
.pdc-area-left ul.nav-tabs > li a {
    font-size: 15px;
    border: none;
    border-radius: 0;
    color: #555;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    background: none;
    padding: 5px 0;
    font-weight: bold;
}
.pdc-area-left ul.nav-tabs > li.active a {
    cursor: default;
}
.pdc-area-left ul.nav-tabs > li a img {
    display: inline-block;
    float: none;
    height: 20px;
    margin-right: 5px;
    width: 20px;
}
.pdc-area-left ul.nav-tabs > li a span {
    display: block;
    float: none;
    line-height: 20px;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    word-wrap: break-word;
}

#d-background i {
    background: #0096DD none repeat scroll 0 0 !important;
}
#d-pcolors i {
    background: #62BE06 none repeat scroll 0 0 !important;
}
#d-templates i {
    background: #F37C00 none repeat scroll 0 0 !important;
}
#p-instagram i {
    background: #B8906D none repeat scroll 0 0 !important;
}
#p-facebook i {
    background: #4C66A4 none repeat scroll 0 0 !important;
}
#p-upload i {
    background: #7FBD01 none repeat scroll 0 0 !important;
}
#a-shape i {
    background: #0096DD none repeat scroll 0 0 !important;
}
#a-mask i {
    background: #62BE06 none repeat scroll 0 0 !important;
}
#a-photo i {
    background: #F37C00 none repeat scroll 0 0 !important;
}
#a-qrcode i {
    background: #607D8B none repeat scroll 0 0 !important;
}
#a-curvedtext i {
    background: #E91E63 none repeat scroll 0 0 !important;
}

ul.nav-tabs > li a:hover, ul.nav-tabs > li.active a, ul.nav-tabs > li.active a:hover {
    border: none;
    border-bottom: 3px solid #8647C6;
    background: none;
}
#productDesign > ul > li > a:hover, #upload > ul > li > a:hover, #apps > ul > li > a:hover {
    text-decoration: none;
}
#productDesign > ul > li > a:hover img, #upload > ul > li > a:hover img, #apps > ul > li > a:hover img {
    transform: rotate(-6deg);
}
#productDesign > ul > li > a img, #upload > ul > li > a img, #apps > ul > li > a img {
    -webkit-box-shadow: 7px -7px 0 0 rgba(255, 255, 255, .1);
       -moz-box-shadow: 7px -7px 0 0 rgba(255, 255, 255, .1);
            box-shadow: 7px -7px 0 0 rgba(255, 255, 255, .1);
    border-radius: 5px;
    /*  transition: opacity 0.15s linear 0s, transform 0.15s linear 0s; */
}
#productDesign ul li a span.title, #upload ul li a span.title, #apps ul li a span.title {
    color: #F2F2F2;
    display: block;
    padding-top: 5px;
}
/* QRCODE */
#qrCode.active .tab-content {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin: 0;
    padding: 0;
}
#qrCode ul.nav > li a {
    border: 1px solid #CCC !important;
    border-radius: 0;
    margin-bottom: 0;
    margin-right: 3px;
    padding: 3px 5px;
    width: auto;
}
#qrCode ul.nav > li {
    float: left;
    margin: auto;
    padding: 0;
    width: auto;
}
#qrCode.active .tab-content .tab-pane {
    padding: 0;
}
#qrCode .pdc-show-content-detail {
    padding: 0;
    margin: 0;
}
#qrCode ul.nav > li.active a {
    background: #607D8B none repeat scroll 0 0;
    border-color: #607D8B !important;
    color: #FFF;
}
#qrcode ul.nav li a i {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    padding: 3px;
}
#qrCode ul.nav > li.active a  i {
    color: #FFF;
}
.toggle-cont {
    font-size: 30px;
    height: 35px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 10px;
    width: 35px;
    z-index: 9;
}
.toggle-cont a {
    color: #000;
    display: block;
    width: 100%;
    cursor: pointer;
}
.toggle-cont a i {
    display: block;
    width: 100%;
}

.pdc-area-left .pdc-show-content.expanded {
    opacity: 1;
    -webkit-transform: translate(0px, 20px) rotate(0deg) skew(0deg, 0deg) scale(1, 1);
       -moz-transform: translate(0px, 20px) rotate(0deg) skew(0deg, 0deg) scale(1, 1);
         -o-transform: translate(0px, 20px) rotate(0deg) skew(0deg, 0deg) scale(1, 1);
        -ms-transform: translate(0px, 20px) rotate(0deg) skew(0deg, 0deg) scale(1, 1);
            transform: translate(0px, 20px) rotate(0deg) skew(0deg, 0deg) scale(1, 1);
    z-index: 10;
}
/* Popular style for Search form */
.pdc-search {
    text-align: center;
}
.pdc-search > input {
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 25px;
    padding: 5px;
    width: 100%;
}
.pdc-area-left .pdc-show-content {
    margin: 0;
    position: relative;
}

.pdc-area-left li.active .pdc-show-content::before {
    border-top: 1px solid rgba(255, 255, 255, .3);
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.pdc-area-left li.active .pdc-show-content {
    background: #F5F5F5 none repeat scroll 0 0;
    clear: both;
    margin-bottom: 20px;
    margin-top: 15px;
    max-height: 100% !important;
    padding-bottom: 10px;
    padding-top: 15px;
}
.pdc-area-left .pdc-tabs li.gallery-item:nth-child(7) .pdc-show-content {
    left: -50%!important;
}
.pdc-area-left .pdc-tabs li.gallery-item:nth-child(8) .pdc-show-content {
    left: -150%!important;
}
.pdc-area-left .pdc-tabs li.gallery-item:nth-child(3n+1) .pdc-show-content {
    left: 0;
}
.pdc-area-left .pdc-tabs li.gallery-item:nth-child(3n+2) .pdc-show-content {
    left: -99%;
}
.pdc-area-left .pdc-tabs li.gallery-item:nth-child(3n) .pdc-show-content {
    left: -199%;
}
.pdc-show-content h3.title span {
    display: block;
    font-weight: 300;
    padding: 10px 0;
}
.pdc-show-content h3.title p {
    margin-top: -5px;
    line-height: 18px;
    margin-left: 10px;
}
.pdc-show-content h3.title {
    background: #F2F2F2;
    color: #181818;
    font-size: 12px;
    margin: 0;
    padding: 10px 5px 10px;
    text-align: left;
    font-weight: normal;
}
.pdc-show-content h3.title .a-link {
    color: #3EB8B4;
}
.pdc-show-content .select-cont {
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.pdc-show-content select {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    line-height: 25px;
    width: 100%;
}
.pdc-show-content select option {
    display: block;
    height: 25px;
    line-height: 30px;
    vertical-align: middle;
}
.fake-select i {
    height: 100%;
    line-height: 32px;
}
.fake-select {
    background: #FFF none repeat scroll 0 0;
    border: 1px solid #E6E6E6;
    border-radius: 0 5px 5px 0;
    height: 35px;
    line-height: 32px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 20px;
}
.scroll-wrapper.items-list {
    margin-top: 10px;
}

.scroll-element.scroll-y {
    height: 100%;
    min-height: 93%;
    right: 0;
    top: 0;
    width: 12px;
}
.scroll-element, .scroll-element div {
    border: medium none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 10;
}
.scroll-element.scroll-y .scroll-element_size {
    top: -4px;
}
.scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 10px;
}
.scroll-element, .scroll-element div {
    border: medium none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 10;
}
.scroll-element.scroll-y .scroll-bar {
    left: 0;
    min-height: 10px;
    width: 10px;
}
.scroll-element .scroll-bar {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #FEFEFE 0%, #F5F5F5 100%) repeat scroll 0 0;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
}
.scroll-element .scroll-element_size {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #DBDBDB 0%, #E8E8E8 100%) repeat scroll 0 0;
    border-radius: 10px;
}
/*-- End Scrollbar  --*/
.panel-mst .panel-default {
    border: medium none;
    box-shadow: none;
    padding: 0 5px;
    text-align: left;
}
.panel-group {
    margin: 0;
}
.panel-mst .panel-default > .panel-heading {
    padding: 0;
}
.panel-mst .panel-default h4 a {
    background: #F3EDD6 none repeat scroll 0 0;
    color: #000;
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    padding: 5px 0;
}
.panel-mst .panel-default h4 a .fa {
    padding: 0;
    text-align: center;
    width: 30px;
}
.panel-mst .panel-default h4 a::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 solid #44B4AA;
    color: #44B4AA;
    content: '\f0d7';
    font-family: fontawesome;
    font-size: 14px;
    font-weight: lighter;
    height: 20px;
    line-height: 30px;
    position: absolute;
    right: 5px;
    text-align: center;
    width: 20px;
}
.panel-mst .panel-default h4 a.collapsed::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #CCC;
    color: #CCC;
    content: '\f107';
}
.panel-mst .panel-default  h4 a.collapsed {
    color: #666;
    background: #F2F2F2;
}
.panel-mst .panel-body {
    padding: 25px 0;
}
.textControls {
    border-bottom: 1px solid #D7D7D7;
    padding-bottom: 25px;
    margin-bottom: 30px;
}
.textControls li {
    cursor: pointer;
    padding-right: 5px;
}
.textcontrols li a {
    color: #000;
}
.textcontrols li a:hover {
    color: #39C;
}
.text-effects .text-samples li {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    width: 30%;
    margin-right: 4%;
    height: 40px;
}
.text-effects .text-samples li:nth-child(3n) {
    margin-right: 0;
}
.text-effects .text-samples li img {
    width: 100%;
}

.pdc-show-content .items-list {
    display: block;
    overflow: auto;
}
.pdc-show-content .items-list li {
    cursor: pointer;
    float: left;
    height: 80px;
    text-align: center;
    width: 28%;
    margin-right: 8%;
    margin-bottom: 10px;
    vertical-align: middle;
}
.pdc-show-content .items-list li:nth-child(3n) {
    margin-right: 0;
}
.pdc-show-content .items-list li:hover {
    background: #F2F2F2;
    border-radius: 4px;
}
.pdc-show-content .items-list li a {
    display: block;
    margin: 10px 13px;
}
.pdc-show-content .items-list li > span {
    display: none;
}
.pdc-show-content .items-list li .del-upload-image-btn {
    background: #CE1439 none repeat scroll 0 0;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    padding: 0 5px;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 10000;
}

#background .pdc-show-content .items-list li {
    border: 1px solid #808080;
    cursor: pointer;
    float: left;
    height: auto;
    margin: 5px 5px 3px 1px;
    padding: 0;
    text-align: center;
    width: 28%;
}
#background .pdc-show-content .items-list li a {
    background: #808080 none repeat scroll center center;
    display: block;
    height: 45px;
    width: 100%;
}
#templates .pdc-show-content .items-list li {
    width: 70px;
    height: 70px;
}
.pdc-show-content .items-list li.active {
    border-color: #000;
}

.pdc-btn-show.active.opacity {
    opacity: 1;
}
.opacity {
    opacity: .2;
}
.active.opacity, .over.opacity {
    opacity: 1;
}

.pdc-btn-show.active .arrow {
    display: block!important;
}
.pdc-btn-show .arrow {
    display: none;
}
.pdc-btn-show .arrow:before {
    content: '\f0de';
    color: #F2F2F2;
    font-family: fontawesome;
    font-size: 30px;
}

.pdc-show-content-detail {
    font-size: 12px;
    padding-bottom: 10px;
}
.pdc-show-content-detail .nav-tabs {
    margin-bottom: -1px;
}
.pdc-show-content-detail .nav-tabs > div a:hover {
    border-bottom-style: none;
    border-color: #DDD;
}

.pdc-show-content-detail .tab-content {
    border-top: 1px solid #DDD;
}
.pdc-show-content-detail .tab-content .tab-pane {
    color: #19262C !important;
    padding: 10px 0 0;
    text-align: left;
}
.tab-content .top-pane input {
    border: 1px solid #C1C1C1;
    color: #AAA;
    height: 32px;
    line-height: 32px;
    margin: 0 0 15px;
    padding: 5px;
    width: 100%;
}
.tab-content .main-pane {
    text-align: center;
}
.tab-content .main-pane button {
    margin-bottom: 5px;
}
.pdc-btn.gene-qrcode-btn {
    background-color: #ABD46E;
    width: auto;
    margin: 0 auto;
}
#qrcode .add-design-btn {
    display: none;
}
.upload-type > p {
    font-size: 13px;
    margin-top: 17px;
}
.pdc-area-left .list-type-format {
    text-align: left;
    margin-bottom: 33px;
}
.list-type-format li {
    display: inline-block;
    padding-right: 5px;
    width: auto;
    font-size: 14px;
}
.pdc-upload-area, .pdc-refresh-area {
    border: 1px solid #DADADA;
    cursor: pointer;
    display: block;
    margin: 0 0 15px;
    /**overflow: hidden;**/
    padding: 40px 10px;
    vertical-align: middle;
}
.upload-btn {
    background: #ABD46E;
}

.pdc-refresh-area button {
    margin: 0 auto;
    max-width: 60%;
}
.pdc-show-content-detail a.pdc-link {
    font-size: 14px;
    letter-spacing: 1px;
}

.pdc-upload-area {
    max-height: 220px;
    min-height: 100px;
}



/*-- End Area Left  --*/
/*-- Area Main  --*/
.pdc-area-main {
    background: #FFF ;
    border-left: 0 solid #F2F2F2;
    display: block;
    float: right;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    overflow: hidden;
    position: relative;
    width: calc(100% - 390px);
}
.pdc-main-top {
    background: #FAFAFA;
    margin: 0;
}

.pdc-toolbar ul {
    padding: 0;
    margin: 0;
}
.pdc-toolbar ul li {
    display: inline-block;
}
.pdc-toolbar ul li a.pdc-btn-open {
    background-color: rgba(0, 0, 0, 0);
    background-position: left center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 10pt;
    font-weight: 300;
    padding: 15px 10px 15px 30px;
    text-transform: capitalize;
}
.pdc-toolbar ul li a.pdc-temp {
    background-image: url('../icon/pdc-temp.png');
}
.pdc-toolbar ul li a.pdc-bkground {
    background-image: url('../icon/pdc-temp.png');
}

.pdc-toolbar ul li a.pdc-temp:hover {
    background-image: url('../icon/pdc-temp-hover.png');
}
.pdc-toolbar ul li a.pdc-bkground:hover {
    background-image: url('../icon/pdc-temp-hover.png');
}
.pdc-toolbar ul li a:hover {
    color: #FBA628;
}

.pdc-toolbar-content.expanded {
    opacity: 1;
    left: 0;
}
.pdc-toolbar-content {
    border-radius: 0;
    border-top: 1px dotted #E4E4E4;
    box-shadow: none;
    width: 300px;
    opacity: 0;
    position: absolute;
    /* z-index:10; */
    left: 10000px;
    background: #FFF;
    /* display:none; */
}
.pdc-toolbar-content .pdc-search {
    margin: 0;
    padding: 10px 10px 0;
}
.pdc-toolbar-content .pdc-search input {
    border: 1px solid #E6E6E6;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding: 5px;
    width: 100%;
}
.pdc-toolbar-content .pdc-filter {
    padding-bottom: 20px;
}

.pdc-toolbar .tab-content > .tab-pane {
    position: absolute;
    width: 300px;
    z-index: 10;
}

.pdc-main-bottom .pdc-zoom {
    background: #F2F2F2 none repeat scroll 0 0;
    border-radius: 0;
    border-top: medium none;
    bottom: 0;
    color: #FFF;
    float: left;
    font-size: 1rem;
    line-height: 20px;
    margin-top: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 35px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.25);
}
.pdc-main-bottom .pdc-zoom .btn-zoom {
    clear: none;
    color: #4E5665;
    display: block;
    float: left;
    font-size: 12px;
    height: auto;
    letter-spacing: 0;
    margin-top: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.pdc-main-bottom .pdc-zoom input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 solid rgba(255, 255, 255, .1);
    color: #4E5665;
    display: block;
    float: left;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 0;
    text-align: center;
    width: 40px;
}
.pdc-main-bottom .pdc-zoom button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-size: 1rem;
    margin: 0;
    padding: 3px;
    text-transform: uppercase;
    vertical-align: middle;
}
.pdc-main-bottom .pdc-zoom .btn-zoom:hover {
    background: #44B4AA none repeat scroll 0 0;
    color: #FFF;
}
.pdc-scroll.expanded .pdc-design-view {
    min-width: 1300px;
}
.pdc-scroll.expanded {
    margin-left: 300px;
}
.pdc-scroll {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    position: relative;
}
.pdc-scroll > div {
    overflow: hidden;
    display: block;
}
.pdc-scroll .vip-scrollbar {
    overflow: scroll;
}
.pdc-design-view {
    text-align: center;
    padding: 0;
    margin-top: 100px;
}
.pdc-design-area {
    margin: 5px;
}
.pdc-design-area .pdc-product-image img {
    max-width: none;
}
.sides-tab {
    margin-top: 20px;
    margin-right: 40px;
}
#pdc_controls {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: inline-block;
    overflow: visible !important;
    position: absolute;
    top: 20px;
    right: 45px;
    width: 46px;
    text-align: center;
    z-index: 9;
}
#pdc_controls .controls-item {
    width: 100%;
    height: 46px;
    padding-top: 30px;
    font-size: 11px;
    text-align: center;
    color: inherit;
    display: inline-block;
    margin: 10px 0;
}
#pdc_controls .pdc-controls-group {
    border-bottom: 1px solid #E6E6E6;
    padding: 5px 0;
}
#pdc_controls .pdc-sides .side-item {
    background: url(../images/icon-turn.png) 50% 13px no-repeat;
    background-size: 36px auto;
}
#pdc_controls .pdc-sides .side-item img {
    display: none !important;
}
#pdc_controls .pdc-zoom .zoom-out-item {
    background: url(../images/icon-zoomout.png) 50% 50% no-repeat;
    background-size: 18px auto;
    height: 30px;
    padding: 0;
}
#pdc_controls .pdc-zoom .zoom-in-item {
    background: url(../images/icon-zoomin.png) 50% 50% no-repeat;
    background-size: 18px auto;
    height: 30px;
    padding: 0;
}
#pdc_controls .pdc-zoom .input-zoom {
    font-size: 13px;
    color: #555;
    font-weight: 600;
}
#pdc_controls .pdc-navigation .undo-item {
    background: url(../images/icon-undo.png) 50% 7px no-repeat;
    background-size: 22px auto;
}
#pdc_controls .pdc-navigation .redo-item {
    background: url(../images/icon-redo.png) 50% 7px no-repeat;
    background-size: 22px auto;
}
#pdc_controls .pdc-navigation .clear-item {
    background: url(../images/icon-clear.png) 50% 3px no-repeat;
    background-size: 15px auto;
}
#pdc_controls .pdc-sides .side-item.active {
    display: none;
}
#pdc_controls .pdc-social .share-item {
    background: url(../images/icon-share.png) 50% 5px no-repeat;
    background-size: 17px auto;
}
#pdc_controls .pdc-social .download-item {
    background: url(../images/icon-download.png) 50% 0 no-repeat;
    background-size: 20px auto;
}

.pdc-product-image {
    position: relative;
}

.tabs-left.nav-tabs > a {
    position: relative;
    padding-left: 50px;
    height: 56px;
    padding-right: 45px;
    line-height: 56px;
    display: block;
    font-size: 20px;
    font-weight: 100;
    color: inherit;
    position: relative;
}
.tabs-left.nav-tabs > a:after {
    content: '';
    position: absolute;
    background: url('../images/icon-dropdown.png') no-repeat;
    width: 9px;
    height: 5px;
    right: 40px;
    top: 50%;
    margin-top: -3px;
}
.tabs-left.nav-tabs > a.active:after {
    transform: rotateX(180deg);
}
/*-- End Sides Tab  --*/
/*-- Edit Tool --*/
.pdc-edit-tool {
    background: #3F4652 none repeat scroll 0 0;
    left: 0;
    /* opacity: 0.9; */
    position: absolute;
    top: 0;
    z-index: 99;
    display: none;
}
.pdc-fonts-family {
    float: left;
    width: 120px;
    overflow: hidden;
}
.pdc-fonts-size {
    float: left;
    width: 55px;
    overflow: hidden;
}

.pdc-item-tool.pdc-more-tool {
    border: medium none;
    float: right;
    /*   position: relative; */
}
.pdc-item-tool.pdc-more-tool .pdc-list-tool {
    left: auto!important;
    right: 0;
    text-align: left;
}


.tool-container .tool-items .pdc-item-tool {
    border-right: 1px solid #AAA;
}
.tool-container .tool-items .pdc-item-tool:last-child {
    border-right: none;
}
.exchange_y {
    transform: rotate(90deg);
}
.pdc-colors img {
    margin: 5px 0 0;
}
.pdc-colors a {
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    height: 100%;
    display: block;
}
.pdc-del-tool a:hover, .pdc-more-tool a:hover, .pdc-flipx a:hover, .pdc-flipy a:hover, .pdc-colors a:hover {
    background: #00CCBA none repeat scroll 0 0;
}
.pdc-del-tool a i, .pdc-more-tool a i, .pdc-flipx a i, .pdc-flipy a i {
    line-height: 30px;
}
.pdc-del-tool a, .pdc-more-tool a, .pdc-flipx a, .pdc-flipy a {
    color: #FFF;
    cursor: pointer;
    font-size: 1.2rem;
    height: 100%;
    padding: 0 10px;
    display: block;
}
.pdc-item-tool {
    border-right: 1px solid #FFF;
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0;
    /* position: relative; */
    cursor: pointer;
}
.pdc-item-tool h3.chose i {
    float: right;
    margin: 0 0 0 8px;
}
.pdc-item-tool h3.chose.active, .pdc-item-tool > a.active {
    background: #44B4AA;
}
.pdc-more-tool > a {
    min-width: 32px;
}
.pdc-item-tool h3.chose {
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    padding: 7px 5px 8px;
    text-align: left;
}
.pdc-item-tool ul {
    background: #3F4652 none repeat scroll 0 0;
    left: 0;
    padding: 10px 0;
    position: absolute;
    border-top: 1px solid #999;
    top: 100%;
    transform: translate3d(0px, 0px, 0px);
    width: 100%;
}
.pdc-style-family {
    z-index: 4;
}
.pdc_edit_text_only {
    position: relative;
}
.pdc_edit_text_only select {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #FFF;
    cursor: pointer;
    height: 30px;
    max-width: 100%;
}
.pdc_edit_text_only select option {
    color: #000;
}
.pdc_edit_text_only .fake-select {
    background: #3F4652 none repeat scroll 0 0;
    border: medium none;
    color: #FFF;
    font-size: 12px;
    height: 30px;
    margin: 0;
    right: -2px;
    width: 27px;
}
.text-bold {
    font-weight: bold;
}
.text-italic {
    font-style: italic;
}
.text-underline {
    text-decoration: underline;
}
.pdc-style {
    z-index: 3;
}
.pdc-color-list {
    z-index: 2;
}
.pdc-list-tool {
    z-index: 1;
}
.nodisplay {
    display: none;
}
.pdc-transparency-slider {
    background: #3F4652 none repeat scroll 0 0;
    border-radius: 5px;
    left: -115px;
    position: absolute;
    top: 40px;
    width: 300px;
}
.pdc-list-tool li.on:after {
    content: '\f00c';
    font-family: fontawesome;
    font-size: 14px;
    color: #FFF;
    position: absolute;
    right: 0;
    top: -10px;
}
#pdc_text_edit {
    padding: 10px;
}
.pdc-transparency-slider label {
    color: #FFF;
    float: left;
    padding: 0 10px 0 0;
    text-indent: 5px;
}
#pdc_text_edit input {
    width: 100%;
}
.pdc-transparency-slider input {
    float: left;
    margin: 12px 0 0 15px;
    padding: 0;
    width: 120px;
}
.pdc-transparency-slider span {
    color: #FFF;
    float: left;
    padding: 0 0 0 10px;
}


.pdc-item-tool ul li {
    position: relative;
    display: inline-block;
    color: #FFF;
}
.pdc-item-tool ul li a {
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 1.2rem;
    line-height: 25px;
    margin: 0;
    padding: 0 10px;
}
.pdc-item-tool ul li a i {
    margin-right: 10px;
}
.pdc-item-tool ul li a:hover, .tool-item.selected, .tool-item:hover, .pdc-list-tool li.on a {
    background: #00CCBA;
}

/*-- End Area Main  --*/

/* Zoom Tool*/
.zoom-tool {
    left: 5px;
    position: absolute;
    top: 5px;
    z-index: 999;
}
.zoom-tool > label {
    line-height: 25px;
    margin: 0;
    padding: 0;
}
.zoom-tool > label span {
    float: left;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    padding: 0 3px;
}
.zoom-tool .select-cont {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    line-height: 24px;
    position: relative;
}
#zoomoptions {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-size: 12px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
}
.zoom-tool .fake-select {
    border-radius: 0;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 17px;
}
.zoom-tool .fake-select i {
    line-height: 24px;
}
/* Zoom Tool*/
/* Loadding Bar*/
.pdploading {
    position: absolute;
    color: #7918BE;
    font-size: 11px;
    font-weight: 600;
    top: 20px;
    left: 30px;
}
.pdploading span {
    display: inline-block;
    padding-left: 10px;
    height: 20px;
    vertical-align: middle;
    line-height: 10px;
}
/**Product Color List**/
ul.product-colors {
    float: left;
    padding: 0;
    z-index: 0;
}
ul.product-colors li {
    float: left;
}
ul.product-colors li a {
    width: 30px;
    height: 20px;
}
ul.product-colors li:hover a {
    border: 1px solid #069;
    cursor: pointer;
}
ul.product-colors li.active a {
    border: 1px solid #069;
}
.pdc-background-color-list li a {
    border: 0 solid #DDD;
    box-shadow: 0 0 1px #CCC;
    box-sizing: padding-box;
    float: left;
    height: 18px;
    margin: 2px;
    opacity: .7;
    padding: 0;
    width: 25px;
}
/**End Product Color List**/
/** Background Color**/
.background-color-list {
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
}
.pdc-background-color-list {
    padding: 0;
    width: 100%;
}
.pdc-background-color-list li {
    float: left;
}
.pdc-background-color-list li a, #pdc_background_color_picker, .product-colors li a {
    border: 0 solid #DDD;
    box-shadow: 0 0 1px #CCC;
    box-sizing: padding-box;
    float: left;
    height: 14px;
    margin: 2px;
    opacity: .7;
    padding: 0;
    position: relative;
    width: 24px;
}
#pdc_background_color_picker {
    background: rgba(0, 0, 0, 0) url('../images/color_picker.png') no-repeat scroll center -25px!important;
    height: 18px!important;
    width: 62px!important;
}
#pdc_background_color_picker div.result {
    background-image: none;
    left: 0;
    top: 0;
    width: 100%;
}
.pdc-background-color-list li.active a, .pdc-background-color-list li a:hover {
    border-radius: 25px;
    box-shadow: 0 0 5px #808080;
    opacity: 1;
}
/** End Background Color**/
.load-more-wrapper {
    text-align: center;
}
.no-image-item {
    font-size: 11px;
    padding: 10px;
}
#pdc-show-link-down p {
    font-size: 1.5em;
    text-align: center;
}
/* .hide-tab-btn > ul.nav-tabs {
  display: none;
} */
/* For very large screen size */
@media only screen and (min-width: 1800px) {
    body.small-popup {
        padding: 10px 5%;
    }
}